# Requirements for the demo notebooks
# Useful for MyBinder configuration
pandas
numpy
datascience
folium
matplotlib
nbinteract
scipy
jupyter-book
pillow>=10.0.1 # not directly required, pinned by Snyk to avoid a vulnerability
